<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="ERPstyle.css">
    <link href='http://fonts.googleapis.com/css?family=Nato<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/ang/main.js"></script>

    <script type="text/javascript" src="js/ang/admin.js"></script>

    
<title>HR made easy</title>
</head>
    
<body ng-app="app" ng-controller="admin">
    
    
<nav>
        
            
        
        <ul class="lis1">
            <!---<li><a href="#" class="lis2"><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></a></li>--->
            
             <div class="dropdown lis2">
            <button class=" btnsty dropdown-toggle" type="button" data-toggle="dropdown" ><span><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></span>
            </button>
            <ul class="dropdown-menu ">
                <li><a href="#">Logout</a></li>
                <li class="divider"></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">About us</a></li>
            </ul>
            </div>
        
            <!---<li><a href="#" class="logintx">Login</a></li>--->
        </ul>
        <div class="navba">
            <img id="logo" src="imgs/logosmall.png" alt="logo" style: width="170px">
        </div>
        
</nav>    
    
    
<div class="container" ng-cloak>
    
    <div class="row tpband">
     
    </div>
    
    <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <div class="alert alert-danger" ng-show="response.responseText != 'OK' && response.responseText != null">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Oops!</strong> {{response.responseText}}
                </div>
                
                <div class="alert alert-success" ng-show="showProgress">
                    Processing .. Please wait ..
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-sm-12 ">
            <h2 >Admin stuff</h2>
        </div>
       
    </div>
    
  <div class="col-sm-12 ">                                  
  <div class="table-responsive">          
  <table class="table admitabl table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Company </th>
        <th>Employee</th>
        <th>Status</th>
        <th>last login</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in response.users">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.status}}</td>
        <td></td>
        <td><button type="button" class="btn btn-secondary btn-sm btn-block btndet">View</button></td>
      
        <td><button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" ng-click="activate(user)">Activate</button></td>
        
        <td><button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" data-toggle="modal" data-target="#myModal" >Delete Profile</button></td>
          
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="border:none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <div class="modal-body" >
                <p>Are you sure you want to delete employee profile?<br>All employee data will be erased as well.<br><br>Its advisable to take a backup by saving profile as pdf first.</p>
            </div>
            <div class="modal-footer" style="border:none" >
                <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->
                
                <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">Delete  profile</button>
            </div>
        </div>

        </div>
        </div>
          
          
      </tr>
  
    </tbody>
  </table>
  </div>
</div>
</div>
    

                
            
    

        
        
        
        
        
 

    
 
    
    
    

<!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>

<footer>
<!---<div class="navbar navbar-default foocls">
  <div class="container">
    <span class="navbar-text">
      &#169 talnote corp.
      </span>
  </div>
</div> --->
    
<div id="foo"></div>   
</footer>
    
</html>