<!doctype html>
<html>

<body>


    <div class="container">

        <div class="row tpband">
            <div class="col-sm-6 col-sm-offset-3 ">
                <a href="#leaves"><img src="imgs/left-round-512.png" alt="back" id="backbtn" width=50px style="border:thick">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <h2 class="pghdgs">Add leaves</h2>
            </div>
        </div>
        
        <div class="row" ng-cloak>
            <div class="col-sm-6 col-sm-offset-3 ">
                <div class="alert alert-danger" ng-show="response.responseText != 'OK' && response.responseText != null">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Oops!</strong> {{response.responseText}}
                </div>
               
                <div class="alert alert-success" ng-show="showProgress">
                    Processing .. Please wait ..
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <br>
                <ng-form name="leaveForm">
                <div class=" form-group">
                    <label for="pwd">Name</label>
                    <!--<input type="emil id" class="form-control" >-->
                    <select name="employee" ng-model="leave.user.id" ng-required="true">
                        <option value="">Select Employee</option>
                        <option value="{{emp.id}}" ng-repeat="emp in employees">{{emp.name}}</option>
                    </select>
                    <p style="color:red" ng-show="showLeaveErrors && leaveForm.employee.$invalid">Please select an employee</p>
                </div>
                <div class=" form-group">
                    <label for="usr">Leave from</label>
                    <input type="date" class="form-control" name="from" ng-model="leave.from" ng-required="true">
                    <p style="color:red" ng-show="showLeaveErrors && leaveForm.from.$invalid">Please select from date</p>
                </div>
                <div class=" form-group">
                    <label for="usr">Leave to</label>
                    <input type="date" class="form-control" name="to" ng-model="leave.to" ng-required="true">
                    <p style="color:red" ng-show="showLeaveErrors && leaveForm.to.$invalid">Please select to date</p>
                </div>
                <div class=" form-group">
                    <label for="usr">Number of days</label>
                    <input type="number" class="form-control" value="{{ leave.noOfDays = ((leave.to - leave.from)/(3600*24000) + 1 > 0 ? (leave.to - leave.from)/(3600*24000) + 1 :0 )}}" ng-model="leave.noOfDays" name="days" ng-required="true">
                    <p style="color:red" ng-show="showLeaveErrors && leaveForm.days.$invalid">Please select no of days</p>
                    <p style="color:red" ng-show="incorrectDays">Please select valid no of days</p>
                </div>
                <div class=" form-group">
                    <label for="usr">Type of leave</label>
                    <!--<input type="text" class="form-control" ng-model="leave.type">-->
                    <select name="type" ng-model="leave.type.id" ng-required="true">
                        <option value="">Select Leave Type</option>
                        <option value="{{type.id}}" ng-repeat="type in leaveTypes">{{type.name}}</option>
                    </select>
                    <p style="color:red" ng-show="showLeaveErrors && leaveForm.type.$invalid">Please select leave type</p>
                </div>
                <div class=" form-group">
                    <label for="usr">Comment</label>
                    <input type="text" class="form-control" ng-model="leave.reason">
                </div>

                <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="applyLeave(leaveForm.$valid)">Submit</button>
                    
                </ng-form>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog ">

                        <!-- Modal content-->
                        <div class="modal-content" style="text-align: center;">
                            <div class="modal-header" style="border:none">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <p>Leave added successfully</p>
                            </div>
                            <div class="modal-footer" style="border:none">
                               
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</body>


</html>