<!doctype html>
<html ng-controller="company">

    <div class="row">
        
        <h2 class="text-center">Company Details</h2>
        
        <br/>
        <div class="col-sm-6 col-sm-offset-3 ">

            <ng-form name="companyForm">
            <div class=" form-group">
                <label for="usr">Registered company name</label>
                <input type="text" class="form-control" name="name" ng-model="user.company.name" ng-required="true">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.name.$invalid">Please enter valid Company name</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company Email</label>
                <input type="email" class="form-control" ng-model="user.company.email" name="email">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.email.$invalid">Please enter valid Company Email</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company address</label>
                <input type="text" class="form-control" name="address"  ng-model="user.company.address" ng-required="true">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.address.$invalid">Please enter valid Company Address</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company TAN number</label>
                <input type="text" class="form-control">
            </div>

            <div class=" form-group">
                <label for="usr">Telephone number</label>
                <input type="text" class="form-control" name="phone" ng-model="user.company.phone" ng-required="true">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.phone.$invalid">Please enter valid Company Contact number</p>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="terms" ng-model="terms" ng-required="true">I accept Terms & conditions
                </label>
                <p ng-show="companyFormShowErros == true && companyForm.terms.$invalid" style="color:red">Please accept our terms and conditions</p>
            </div>



            <!--data-toggle="modal" data-target="#myModal"-->
            <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="saveCompany(companyForm.$valid)">Save</button>
            </ng-form>
                
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog ">

                    <!-- Modal content-->
                    <div class="modal-content" style="text-align: center;">
                        <div class="modal-header" style="border:none">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <p>Details sent successfully!</br> You will be contacted soon by company executive </p>
                        </div>
                        <div class="modal-footer" style="border:none">
                            <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                            <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">Back to main page</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    <!--</div>
    </div>-->
</div>


</html>